/notes
.venv/** 
/.idea/OsValidation.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
/logs/os_test_run.log
/.idea/misc.xml
/.idea/modules.xml
/config/config_backup.yaml
config/UserCredentials.local.json
temp/StartMenuLayout.xml
/utils/__pycache__/**
*.DS_Store